#trafikklys{
    width: 210px;
    height: 700px;
    background-color: #4e4c4c;
    border-radius: 5em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

.redLight {
    background-color: red;
    opacity: 50%;
}
.orangeLight{
    background-color: orange;
    opacity: 50%;
}
.greenLight{
    background-color: green;
    opacity: 50%;
}

.circle{
    box-shadow: -5px 10px 20px 10px black inset ;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.active{
    opacity: 100%;
}